
<div class="container" >
  <div class="show">
    <div class="edit">
      <%= simple_form_for @user do |f| %>
      <h4>Edit your details</h4>
        <%= f.input :first_name %>
        <%= f.input  :last_name %>
        <%= f.input :email %>
      <%= f.button :submit,  class: 'btn-primary btn'  %>
      <% end %>
    </div>

    <div class="change-password">
      <%= simple_form_for @user do |f| %>
        <h4>Change password</h4>
        <%= f.input :current_password%>
        <%= f.input :password, placeholder: "New password (optional)" %>
        <%= f.input :password_confirmation, placeholder: "Confirm new password" %>
        <%= f.button :submit,  class: 'btn-primary btn'  %>
      <% end %>
    </div>


  </div>
</div>
