
<div class="container" >
  <div class="show">
  <% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <%= simple_form_for @user do |f| %>
  <h4>Sign up here</h4>
  <br>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit,  class: 'btn-primary btn'  %>
  <% end %>


</div>
</div>
