<div class="row banner-row">
  <div class="banner col-lg-12 col-xs-12" style="height: 500px;">
  </div>
  <div class="overlay-text col-lg-12 col-xs-12">
    <form class="form">
      <h1 style="margin-top: 50px; margin-left: 100px; color: white; font-weight: bold;"><%= @user.first_name %>'sYumNom Posts</h1>

    </form>
  </div>
</div>



<div class="row searched-posts" style="margin-top: 20px;">
  <% if @user.posts.length < 1 %>
    <p style="margin-left: 40px;"><%= @user.first_name %>'s has no YumNom posts yet </p>
  <% else %>
  <div class="row searched-posts">
      <% @user.posts.each do |post| %>
          <div class="col-xs-12 col-sm-4 col-lg-2 col-md-3" >
            <div class="card" style="width: 20rem; height: 230px; width: 200px; max-height: 300px;">
              <div class="bg-image" style="height: 140px; background-image: url('<%= post.image.small.url %>')" >
              </div>
              <div class="card-block">
                <h4 class="card-title"><%= link_to post.title, post_path(post)%></h4>
                <p class="card-text">$<%= post.price %></p>
              </div>
            </div>
          </div>

      <% end %>
  </div>
<% end %>
</div>







<div class="row searched-posts" style="margin-top: 20px;">
  <h1 style="margin-left: 40px;">Favorourites</h1>
  <% if @user.favourites.length < 1 %>
    <p style="margin-left: 40px;"><%= @user.first_name %> has no favourites</p>
  <% else %>
  <div class="row searched-posts">
      <% @user.favouriteposts.each do |favouriteposts| %>
          <div class="col-xs-12 col-sm-4 col-lg-2 col-md-3" >
            <div class="card" style="width: 20rem; height: 230px; width: 200px; max-height: 300px;">
              <div class="bg-image" style="height: 140px; background-image: url('<%= post.image.small.url %>')" >
              </div>
              <div class="card-block">
                <h4 class="card-title"><%= link_to favourite.post.title, post_path(post)%></h4>
                <p class="card-text">$<%= favourite.post.price %></p>
              </div>
            </div>
          </div>

      <% end %>
  </div>
<% end %>
</div>
