<div style="margin: 0 20px 100px 20px;">

<div class="row searched-posts">
  <h1 style="color: grey; margin: 20px;"><%= @user.first_name %>'sYumNom Posts</h1>
  <hr>
  <% if @user.posts.length < 1 %>
    <p style="margin-left: 40px;"><%= @user.first_name %>'s has no YumNom posts yet </p>
  <% else %>
  <div class="row searched-posts">
    <% @user.posts.each do |post| %>

    <div class="col-xs-6 col-sm-4 col-lg-2 col-md-3 post-show" >
      <div class="bg-image" style=" height: 200px; background-image: url('<%= post.image.small.url %>')" >

      </div>
        <p><%= link_to post.title, post_path(post), class: 'title-text', style: "text-decoration: none; color: grey;" %></p>

        <div class="">
            <p style="font-size: 20px; float: left; color: white; background: #FF1C36; padding: 7px;">$<%= post.price %></p>
        </div>
    </div>
  <% end %>
  </div>
<% end %>
</div>





  <div class="row searched-posts">
    <h1 style="color: grey; margin: 20px;"><%= @user.first_name %>'s Favourite YumNoms</h1>
    <hr>
    <% if @user.favourites.length < 1 %>
      <p style="margin-left: 40px;"><%= @user.first_name %> has no favourites</p>
    <% else %>
    <div class="row searched-posts">
      <% @user.favourites.each do |favourite| %>

      <div class="col-xs-6 col-sm-4 col-lg-2 col-md-3 post-show" >
        <div class="bg-image" style=" height: 200px; background-image: url('<%= post.image.small.url %>')" >

        </div>
          <p><%= link_to favourite.post.title, post_path(post), class: 'title-text', style: "text-decoration: none; color: grey;" %></p>

          <div class="">
              <p style="font-size: 20px; float: left; color: white; background: #FF1C36; padding: 7px;">$<%= favourite.post.price %></p>
          </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
