<div class="banner-container">
    <div class="banner" >
      <li style="margin: auto">
        <h2>Find Great Meal Deals Near You</h2>
        <form>
          <div style="float: left">
            <input type="text" name="text" class="search" placeholder="Find">
          </div>
          <div style="float: left">
            <input type="text" name="text" class="near" placeholder="Near">
          </div>
          <div>
            <%= submit_tag "Search",  class: 'waves-effect waves-light btn'  %>
          </div>
        </form>
      </li>
    </div>
</div>



<div class="polaroids">
  <div>
  <%= image_tag(("Group 8.png"), :class => "photo8 photo") %>
  </div>
  <div style="float: right">
  <%= image_tag(("Group 9.png"), :class => "photo9 photo") %>
  </div>
  <div>
  <%= image_tag(("Group 7.png"), :class => "photo7 photo") %>
  </div>
  <div>
  <%= image_tag(("Group 5.png"), :class => "photo5 photo") %>
  </div>
  <div style="float: right">
  <%= image_tag(("Group 4.png"), :class => "photo4 photo") %>
  </div>
  <div>
  <%= image_tag(("Group 3.png"), :class => "photo3 photo") %>
  </div>
  <div style="float: right">
  <%= image_tag(("Group 10.png"), :class => "photo10 photo") %>
  </div>
  <div>
  <%= image_tag(("Group 11.png"), :class => "photo11 photo") %>
  </div>
</div>
