<h1>Edit Post</h1>
<div class="newplace-container">
  <div class="new-place">
<h3 style="color:red"> <%= @post.errors.full_messages.join('. ')%></h3>

<%= form_for @post do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
<div>
  <%= f.label :tag_list, "tags, seperated by commas" %>
  <%= f.text_field :tag_list %>
</div>
<div>
  <%= submit_tag "save changes",  class: 'waves-effect waves-light btn'  %>
</div>
<% end %>
</div>
</div>
