<div class="newplace-container">
  <div class="new-place">
    <h3 style="color: red"><%= @post.errors.full_messages.join('. ') %></h3>
    <div style="margin-top: 100px;">
      <h4>Edit post</h4>
      <%= simple_form_for @post do |f| %>

        <%= f.input :title %>
        <%= f.input :body  %>
        <%= f.input :price %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.collection_select :category_id, Category.all, :id, :name, class: "browser-default" %>
       <div class="form-group">
         <%= f.label :tag_list, "Tags, seperated by commas" %>
         <%= f.input_field :tag_list %>
       </div>
       <%= f.input :image %>
        <%= f.button "submit" :submit%>

      <% end %>
    </div>

  </div>
</div>
