<div class="row banner-row">
  <div class="banner col-lg-12 col-xs-12" style="height: 400px;">
  </div>
  <div class="overlay-text col-lg-12 col-xs-12">
    <form class="form">
      <h1 style="margin-top: 50px; margin-left: 100px; color: white; font-weight: bold;">Edit</h1>

    </form>
  </div>
</div>
<div class="container">
  <div class="show">
    <h3 style="color: red"><%= @post.errors.full_messages.join('. ') %></h3>
    <div style="margin-top: 100px;">
      <h4>Edit post</h4>
      <%= simple_form_for @post do |f| %>

        <%= f.input :title %>
        <%= f.input :body  %>
        <%= f.input :address %>
        <%= f.input :city %>
        <%= f.input :country %>
        <%= f.input :postcode %>
        <%= f.input :price %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.collection_select :category_id, Category.all, :id, :name, class: "browser-default" %>
       <div class="form-group">
         <%= f.label :tag_list, "Tags, seperated by commas" %>
         <%= f.input_field :tag_list %>
       </div>
       <%= f.input :image%>
      <%= f.button :submit,  class: 'btn-primary btn'  %>

      <% end %>
    </div>

  </div>
</div>
