


<div class="content">
  <div class="row banner-row" >

    <div class="banner col-lg-12 col-xs-12" style="height: 700px;">

    </div>

    <div class="overlay-text col-lg-12 col-xs-12">
      <form class="form">
        <h1 style="margin-top: 50px; margin-left: 50px; color: white;">Find great lunchtime specials near you.</h1>
        <div class="form-row">
          <%= form_tag posts_path, :method => :get do %>
          <%= text_field_tag :search, params[:search], class: 'search' %>
          <%= submit_tag "Search Near", :name => nil, class: 'btn-primary btn find-deals ' %>
          <% end %>
        </div>
      </form>
    </div>

  </div>


  <div class="row map-row">
    <div class="col-lg-12 col-xs-12">
      <div id="map" style="visibility: hidden; height: 0px; width: 0px;">
      </div>
    </div>
    <script>
    const handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @locations %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      $("input#search").geocomplete();
    });

    window.onload = function() {
      var startPos;
      var geoSuccess = function(position) {
        startPos = position;
        document.getElementById('startLat').innerHTML = startPos.coords.latitude;
        document.getElementById('startLon').innerHTML = startPos.coords.longitude;
  };
  navigator.geolocation.getCurrentPosition(geoSuccess);
};
    </script>
  </div>
<div class="">

</div>
  <div class="row searched-posts">

    <% @posts.each do |post| %>
        <div class="col-xs-12 col-sm-4 col-lg-43 col-md-3" >
      <div class="card" style="width: 20rem; height: 260px; width: 290px; max-height: 300px;">
        <div class="bg-image" style="height: 140px; background-image: url('<%= post.image.small.url %>')" >

        </div>
    <div class="card-block">
      <h4 class="card-title"><%= link_to post.title, post_path(post)%></h4><p><%= post.distance.round(2) %> miles</p>
      <p class="card-text">$<%= post.price %></p>
    </div>
  </div>
</div>
    <% end %>
</div>
