<div class="content">
  <div class="row banner-row">

    <div class="banner col-lg-12 col-xs-12">

    </div>

    <div class="overlay-text col-lg-12 col-xs-12">
      <form class="form">
        <div class="form-row">
          <%= form_tag posts_path, :method => :get do %>
          <%= text_field_tag :search, params[:search], class: 'search' %>
          <%= submit_tag "Search Near", :name => nil, class: 'btn-primary btn find-deals ' %>
          <% end %>
        </div>
      </form>
    </div>

  </div>


  <div class="row map-row">
    <div class="col-lg-12 col-xs-12">
      <div id="map" style="visibility: hidden; height: 0px; width: 0px;">
      </div>
    </div>
    <script>
    const handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @locations %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      $("input#search").geocomplete();
    });

    window.onload = function() {
      var startPos;
      var geoSuccess = function(position) {
        startPos = position;
        document.getElementById('startLat').innerHTML = startPos.coords.latitude;
        document.getElementById('startLon').innerHTML = startPos.coords.longitude;
  };
  navigator.geolocation.getCurrentPosition(geoSuccess);
};
    </script>
  </div>

  <div class="row searched-posts">
    <% @posts.each do |post| %>
    <div class="col-xs-6 col-sm-4 col-lg-3 col-md-3 post-show style=" style="background-image: url('<%= post.image.small.url %>');">
      <div class="price" style="top: 0">
          <p style="color: white; font-size: 20px">$<%= post.price %></p>
      </div>
<div style="height: 80px;">

</div>

        <div class="title" style="bottom: 0">
          <p><%= link_to post.title, post_path(post), class: 'title-text' %></p>
        </div>
    </div>
  <% end %>
  </div>


</div>
