<div class="container">
  <div class="show">
    <h3 style="color: red"><%= @post.errors.full_messages.join('. ') %></h3>
    <div style="margin-top: 100px;">
      <h4>Create a new post</h4>
      <%= simple_form_for @post do |f| %>

        <%= f.input :title %>
        <%= f.input :body  %>
        <%= f.input :address %>
        <%= f.input :price %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.collection_select :category_id, Category.all, :id, :name, class: "browser-default" %>
        <br />
        <br />
       <div class="form-group">
         <%= f.label :tag_list, "Tags, seperated by commas" %>
         <%= f.input_field :tag_list %>
       </div>
       <%= f.input :image, class: 'btn btn-primary' %>
       <div>
        <%= f.button :submit,  class: 'btn-primary btn'  %>
       </div>
      <% end %>
    </div>

  </div>
</div>
