

<div class="container">
  <div class="show col-lg-6">
    <h3 style="color: red"><%= @post.errors.full_messages.join('. ') %></h3>
    <div style="margin-top: 10px;">
      <h1>Create a new post</h1>
      <%= simple_form_for @post do |f| %>

        <%= f.input :title %>
        <%= f.input :body, :as => :string  %>
        <%= f.input :address, :as => :string %>
        <%= f.input :city %>
        <%= f.country_select :country %>
        <br>
        <%= f.input :postcode %>
        <%= f.input :price %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.collection_select :category_id, Category.all, :id, :name, class: "browser-default" %>
        <br />
        <br />
       <!-- <div class="form-group">
         <%= f.label :tag_list, "Tags, seperated by commas" %>
         <%= f.input_field :tag_list %>
       </div> -->
       <%= f.input :image, class: 'btn btn-primary' %>
       <div>
        <%= f.button :submit,  class: 'btn-primary btn'  %>
       </div>
      <% end %>
    </div>

  </div>
</div>

<div class="modal fade" id="myModal8" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a new post</h4>

        </div>
        <div class="modal-body form-group">
          <%= simple_form_for @post do |f| %>

            <%= f.input :title %>
            <%= f.input :body, :as => :string  %>
            <%= f.input :address, :as => :string %>
            <%= f.input :city %>
            <%= f.country_select :country %>
            <%= f.input :postcode %>
            <%= f.input :price %>
            <%= f.input :start_time %>
            <%= f.input :end_time %>
            <%= f.collection_select :category_id, Category.all, :id, :name, class: "browser-default" %>
            <br />
            <br />
           <div class="form-group">
             <%= f.label :tag_list, "Tags, seperated by commas" %>
             <%= f.input_field :tag_list %>
           </div>
           <%= f.input :image, class: 'btn btn-primary' %>
           <div>
            <%= f.button :submit,  class: 'btn-primary btn'  %>
           </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
