<h1>New post!</h1>

<h3 style="color: red"><%= @post.errors.full_messages.join('. ') %></h3>

<%= form_for @post do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
<div>
  <%= f.label :category %>
  <%= f.collection_select :category_id, Category.all, :id, :name %>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>
