

<div class="show-post">
<h1><%= @post.title %></h1>
<%= image_tag("sri-lankan.jpg", width: "100%") %>
</div>


<div class="summary-long">
  <h4><%= @post.body %></h4>
  <br>
  <div>
      <p style="float: right"><%= @post.created_at %></p>
      <div>

      </div>
      <br>
      <div>
        <p>Created by: <%= @post.user&.first_name %></p>
      </div>


<% if user_signed_in? && @post.user || can?(:manage, @post) %>
        <%= link_to "Edit", edit_post_path(@post) %> |
        <%= link_to "Delete", post_path(@post), method: :delete %>
<% end %>



  </div>
<hr>
  <div class="buttons">
    <div class="right">
      <button type="button" name="favorite"><i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </button>
      <p>LIKE COUNT</p>
      <button type="button" name="like"><i class="fa fa-heart-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <br>
  <hr>



<h2>Comments:</h2>

  <div class="comment-form">
    <%= form_for([@post, Comment.new]) do |f| %>
      <div>
        <div>
                <%= f.label :body, "Enter your comment" %>
        </div>
        <%= f.text_area :body,cols: "60", rows: "5"  %>
      </div>
        <%= f.submit %>
    <% end %>
  </div>


  <ul>
    <% @post.comments.each do |comment| %>
    <li>
      <p> <%= comment.body %> </p>
      <p><strong>Comment by: </strong> <%= comment.user&.first_name %></p>
      <p><strong>Created at: </strong> <%= comment.created_at.to_formatted_s(:short) %></p>

      <% if user_signed_in? || can?(:destroy, @comment) %>
      <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete %>
      <% end %>
    </li>
  <hr>
    <% end %>
  </ul>
</div>
