

<div class="show-post">
<h1><%= @post.title %></h1>
<%= image_tag("sri-lankan.jpg", width: "100%") %>
</div>


<div class="summary-long">
  <h4><%= @post.body %></h4>
  <br>
  <div>
      <p style="float: right"><%= @post.created_at %></p>
      <a href="#"><p style="float:left">Post category</p></a>
      <p>Created by: <%= @post.user&.first_name %></p>

<% if user_signed_in? || can?(:manage, @product) %>
        <%= link_to "Edit", edit_post_path(@post) %>
        <%= link_to "Delete", post_path(@post), method: :delete %>
<% end %>



  </div>
<hr>
  <div class="buttons">
    <div class="right">
      <button type="button" name="favorite"><i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </button>
      <p>LIKE COUNT</p>
      <button type="button" name="like"><i class="fa fa-heart-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <br>
  <hr>



<h2>Comments:</h2>
  <%= form_for([@post, Comment.new]) do |f| %>
    <div>
      <%=  f.label :body %>
      <%= f.text_area :body %>
    </div>
      <%= f.submit %>
  <% end %>


<ul>
  <% @post.comments.each do |comment| %>
  <li>
    <p><%= comment.body %> </p>
    <p><strong>Created at:</strong> <%= comment.created_at.to_formatted_s(:long) %> <strong>By:</strong> <%= comment.user.first_name %></p>
    <% if user_signed_in? || can?(:destroy, comment) %>
    <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
  </li>
<hr>
  <% end %>
</ul>
