


<div class="container" >
  <div class="show">
    <div class="post-details">
      <div>


      <h1><%= @post.title %></h1>
          <% if user_signed_in? && can?(:manage, @post) %>
          <%= link_to 'EDIT', edit_post_path(@post) %>
          <%= link_to 'DELETE', post_path(@post), method: :delete %>
          <% end %>
      <p><%= @post.body %></p>
      <p><strong>Address:</strong><%= @post.address %></p>
      <p></strong>Price: </strong><%= @post.price %></p>
      <p><strong>From</strong><%= @post.start_time %> Until <%= @post.end_time %></p>
      <p><strong>Category:</strong> <%= @post.category.name %></p>

      <div class="tags">
        <p><strong>Tags:</strong><% @tags.each do |prod| %>
           <%= link_to prod.name, tag_path(prod) %> |
         <% end %></p>
      </div>



      <div class="faves">
        <% favourite = @post.favourites.find_by(user: current_user) %>
        <% if favourite.present? %>
          <%= link_to fa_icon('heart lg'), post_favourite_path(@post, favourite), method: :delete %>
        <% else %>
          <%= link_to fa_icon('heart-o lg'), post_favourites_path(@post), method: :post %>
        <% end %>
        <%= pluralize @post.favourites.count, 'favourite' %>
      </div>
  </div>
  <%= image_tag @post.image.medium.url if @post.image.present? %>
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@post.latitude},#{@post.longitude}&markers=#{@post.latitude},#{@post.longitude}&zoom=7&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
              class: 'img-fluid img-rounded', alt: "#{@post.title} on the map"%>
</div>

    <hr>
    <div style="margin-top: 50px;">
      <h5>Add Review</h5>
      <%= simple_form_for([@post, Comment.new]) do |f| %>
        <%= f.input :body%>
        <%= f.select :rating, [5, 4 ,3 ,2, 1], class: "browser-default" %>
        <br />
        <br />
        <div>
          <%= f.button :submit,  class: 'btn-primary btn'  %>
        </div>

      <% end %>
    </div>


    <div class="reviews">
      <% @comments.each do |comment| %>

          <div>
            <p><%= comment.body %></p>
            <p><strong>Rating:</strong> <%= comment.rating %>/5</p>
            <p><strong>Review By: </strong> <%= comment.user&.first_name %></p>

            <% if user_signed_in? && can?(:destroy, comment) %>
              <p><%= link_to 'Delete', post_comment_path(@post, comment),
                     method: :delete, data: { confirm: 'Are you sure?' }  %>
              </p>
            <% end %>
            <hr>
          </div>

      <% end %>
    </div>

  </div>
</div>
