<!DOCTYPE html>
<html>
  <head>
    <title>Final Project</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>


<div class="navbar">
          <a href="#" class="brand-logo"></a>
          <ul class="right">
            <% if user_signed_in? %>
              <li style="float: right"><p>Hello, <%= current_user.first_name%>!</p></li>
              <li style="float: right"><%= link_to "view places near me", posts_path %></li>
              <li style="float: right"><%=link_to 'create new post', new_post_path %></li>
              <li style="float: right"><%= link_to 'Log Out', sessions_path, method: :delete %></li>
              <li style="float: right"><%= link_to "Account Settings", edit_user_path(current_user) %></li>
            <% else %>
              <%= link_to 'Sign Up', new_user_path,  :class => "signup" %></li>
              <li style="float: right"><%= link_to "Log In", new_session_path, :class => "login"%>
            <% end %>
          </ul>
</div>





    <%= yield %>
<hr>
    <footer style="display: flex">
      <div class="social" style="margin: auto">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-google-plus" aria-hidden="true"></i>

      </div>
    </footer>
  </body>

</html>
